.modal.fade{:id  => 'confirm_import_social'}
  .modal-dialog.card
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        = t('.confirm')
      .modal-body
        %p
          = t('.import_text')
        %form{:id => 'import_social'}
          #import_social_checkboxes
            .pull-left
              = label_tag :import_complete_name, :class => 'checkbox' do
                = check_box_tag :import_complete_name, 'true', true, :data => {:toggle => 'checkbox'}
                = t('.complete_name')
              = label_tag :import_location, :class => 'checkbox' do
                = check_box_tag :import_location, 'true', true, :data => {:toggle => 'checkbox'}
                = t('.location')
              = label_tag :import_web, :class => 'checkbox' do
                = check_box_tag :import_web, 'true', true, :data => {:toggle => 'checkbox'}
                = t('.web')
            .pull-right
              = label_tag :import_bio, :class => 'checkbox' do
                = check_box_tag :import_bio, 'true', true, :data => {:toggle => 'checkbox'}
                = t('.bio')
              = label_tag :import_image, :class => 'checkbox' do
                = check_box_tag :import_image, 'true', true, :data => {:toggle => 'checkbox'}
                = t('.image')
      .card-footer
        %a.btn{:href => "#", "data-dismiss" => "modal"}
          = t('.close')
        %a.btn.btn-primary.btn-round-bottom-right{:href => "#", :id => 'confirm_import_social_btn', :data => {:provider => 'provider'}}
          = t('.import')