- user                = current_user
- fb_access_token_id  = user.fbtoken._id if user.fbtoken
- fb_autopublish      = user.fbtoken.autopublish if user.fbtoken
- tw_access_token_id  = user.twtoken._id if user.twtoken
- tw_autopublish      = user.twtoken.autopublish if user.twtoken
= hidden_field_tag 'user_id', user._id

.card-content
  .form-group
    .icon-facebook
      Facebook

  .row
    .col-xs-6
      .form-group
        %label.control-label
          = t('.log_with', :provider => 'Facebook')
        .controls
          .switch
            - fbChecked = false
            - if fb_access_token_id
              - fbChecked = true
            %input#facebook{:type => "checkbox", :checked => fbChecked, "data-toggle" => "switch"}

    .col-xs-6
      - klass = 'form-group'
      - if !fb_access_token_id
        - klass = 'form-group hide'
      %div{:id => 'publish_facebook', :class => klass}
        %label.control-label
          = t('.publish_activity', :provider => 'Facebook')

        .controls
          .switch
            - fbPubChecked = false
            - if fb_autopublish
              - fbPubChecked = true
            %input#facebook_post{:type => "checkbox", :checked => fbPubChecked, "data-toggle" => "switch", :data => {:provider => 'facebook', :token => fb_access_token_id}}

.card-content
  .form-group
    .icon-twitter
      Twitter

  .row
    .col-xs-6
      .form-group
        %label.control-label
          = t('.log_with', :provider => 'Twitter')
        .controls
          .switch
            - twChecked = false
            - if tw_access_token_id
              - twChecked = true
            %input#twitter{:type => "checkbox", :checked => twChecked, "data-toggle" => "switch"}
    .col-xs-6
      - klass = 'form-group'
      - if !tw_access_token_id
        - klass = 'form-group hide'
      %div{:id => 'publish_twitter', :class => klass}
        %label.control-label
          = t('.publish_activity', :provider => 'Twitter')
        .controls
          .switch
            - twPubChecked = false
            - if tw_autopublish
              - twPubChecked = true
            %input#twitter_post{:type => "checkbox", :checked => twPubChecked, "data-toggle" => "switch", :data => {:provider => 'twitter', :token => tw_access_token_id}}
