= form_for @user, :url => user_path(@user), :html => { :method => :put } do |f|
  = devise_error_messages!

  .row-fluid
    .span12.well
      .span4
        #userImage.thumbnail
          = image_tag(@user.image_path(:medium), :class => 'block')
        #socialUserImage.thumbnail.hidden
          = image_tag(@user.image_url, :class => 'block')
          = hidden_field_tag 'user[image_url]', @user.image_url, :id => 'image_url'
        %button.btn.btn-block.btn-success.fileinput-button
          %i.icon-plus.icon-white
          %span
            = t('.add_image')
          = f.file_field :image
        - if @user.image?
          %button#imageDeleteButton.btn.btn-block.btn-danger
            %i.icon-remove.icon-white
            %span
              = t('.delete_image')
              = f.hidden_field :image_delete, :value => "0"
      .span8
        .row-fluid
          #user_action_button.span6
            %button{:type => "submit", :class => "btn btn-primary"}
              = t(:save)
            %a{:href => user_path(@user), :class => "btn"}
              = t(:back)
          .span6
            .pull-right
              %a.btn.btn-primary{:href => "#", :id => 'import_fb', :data => {:provider => 'facebook'}}
                %i.icon-facebook
                Importar de facebook
              %a.btn.btn-info{:href => "#", :id => 'import_tw', :data => {:provider => 'twitter'}}
                %i.icon-twitter
                Importar de twitter
        .row-fluid
          .span12
            %p

            %dl.dl-horizontal-left
              %dt
                %b
                  = t(".complete_name")
              %dd
                = f.text_field :complete_name, :class => "input-block-level"
              %dt
                %b
                  = t(".location")
              %dd
                = f.text_field :location, :class => "input-block-level"
              %dt
                %b
                  = t('.web')
              %dd
                = f.text_field :web, :class => "input-block-level"
              %dt
                %b
                  = t('.bio')
              %dd
                = f.text_area :bio, :class => "input-block-level", :rows => "5"
        .row-fluid
          = render 'social_config'

= render 'confirm_image_delete'
= render 'confirm_import_social'