- if is_omniauth_sign_up?
  .span3
  .span8{:id => 'omniauth_form'}
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = omniauth_form_data
      = f.hidden_field :user_confirmation_required, :value => 'true'
      %fieldset
        = content_tag :legend, t(:sign_up)
        = omniauth_provider_info 
        .row-fluid
          %div{:class => 'span4'}
            .thumbnail{:class => 'omniauth_thumbnail centered'}
              = image_tag(omniauth_image, :class => 'block')
              = f.hidden_field :image_url, :value => omniauth_image
            %br
          %div{:class => 'span8'}
            = render 'form_fields', :form => f
        %br
        = render 'sign_up_alerts'
        = render 'sign_up_button', :form => f
    = render "devise/shared/links"
  .span1
- else
  .span4
  .span4
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = omniauth_form_data
      = f.hidden_field :user_confirmation_required, :value => 'true'
      %fieldset
        = content_tag :legend, t(:sign_up)
        = omniauth_provider_info   
        .row-fluid
          .span12{:id => 'omniauth_options'}
            .control-group
              .controls
                %label 
                  = t(:sign_in_with)
                %br
                %a.btn.btn-primary.btn-large.pull-left{:href => "/users/auth/facebook"}
                  %i.icon-facebook
                  facebook
                %a.btn.btn-info.btn-large.pull-right{:href => "/users/auth/twitter"}
                  %i.icon-twitter
                  twitter
        %br
        = render 'form_fields', :form => f
        = render 'sign_up_alerts'
        = render 'sign_up_button', :form => f
    = render "devise/shared/links"
  .span4