%div{:class => 'span5 offset4'}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %fieldset
      = content_tag :legend, t(:sign_up)
      .control-group
        .controls
          = f.email_field :email, :id => 'email', :placeholder => t(:email), :class => 'input-xlarge'
          %span.help-inline
      .control-group
        .controls
          = f.password_field :password, :id => 'password', :placeholder => t(:password), :class => 'input-xlarge'
          %span.help-inline
      .control-group
        .controls
          = f.password_field :password_confirmation, :id => 'password_confirmation', :placeholder => t(:password_confirmation), :class => 'input-xlarge'
          %span.help-inline
      %br
      .alert.alert-success.hide{:id => 'sign_up_success'}
        / %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4
          = t(:sign_up_ok_title)
        %span{:id => 'sign_up_ok_text'}
          = t(:sign_up_ok_text, :email => 'SIGN_UP_EMAIL')
      = f.button t(:sign_up_button), :type => 'button', :class => 'btn btn-large btn-primary', :id => 'sign_up_button', :data => {'loading-text' => t(:signing_up)}
  = render "devise/shared/links"