= form_for @user, :url => users_path, :html => { :multipart => true, :class => "form-horiztonal" } do |f|
  = f.hidden_field :id
  .row-fluid
    .span12.well
      .row-fluid
        .span2
          .thumbnail
            = image_tag(@user.image.url(:small), :class => 'block')
          %span.btn.btn-success.fileinput-button
            %i.icon-plus.icon-white
            %span
              = t('.add_image')
            = f.file_field :photo

        .span8
          .row-fluid
            .span1
              = " "
          .row-fluid
            .span12
              %p
                %b
                  = t(".complete_name")
                = f.text_field :complete_name, :class => "input-block-level"
              %p
                %b
                  = t(".location")
                = f.text_field :location, :class => "input-block-level"
              %p
                %b
                  = t('.web')
                = f.text_field :web, :class => "input-block-level"
              %p
                %b
                  = t('.bio')
                = f.text_area :bio, :class => "input-block-level", :rows => "5"
      .row-fluid
        .form-actions
          %button{:type => "submit", :class => "btn btn-primary"}
            = t(:save)
          %a{:href => user_path(@user), :class => "btn"}
            = t(:back)
  .row-fluid
    .span12.well
      .row-fluid
        .span12
          = render 'social_config'
