- if !user.main_picture.nil? and !user.main_picture.photo_dimensions.nil?
  - cardSize = PicturesController.helpers.adjustCardSize(user.main_picture.photo_dimensions["card"][0], user.main_picture.photo_dimensions["card"][1])
  - width = cardSize[:width]
  - height = cardSize[:height]
  - image_url = user.main_picture.photo.url(:card)
- else
  - width = 200
  - height = 200
  - image_url = '/photos/card/missing.png'
.card{:style => "background: url('#{image_url}') repeat; max-width: #{width}px; background-size: #{width}px #{height}px; background-color: #fff"}
  %a{:href => user_path(user)}
    .card-image-placeholder{:style => "width: #{width}px; height: #{height}px;"}
  .card-footer.card-footer-masonry
    .media
      .media-body.plm.ptm.pbm.prn
        = user.complete_name
        .sub-paragraph
          = user.location


-# .card
-#   .thumbnail
-#     .botones
-#       %p
-#         = link_to user_path(user), :class => "btn" do
-#           %i.icon-info-sign
-#           Más información
-#     -# = image_tag user.image_path(:small)
-#     .caption
-#       %h5
-#         = user.complete_name
-#       %p
-#         %i.icon-map-marker
-#         = user.location
-#       .extra-info
-#         %i.icon-thumbs-up
-#         = "#{user.created_events.count} Eventos"
-#         %i.icon-thumbs-up
-#         = "#{user.events.count} Apuntados"


