- if @user == current_user
  %a{:href => edit_user_registration_path(@user)}
    .btn.btn-primary
      = t(:edit)
- else
  - if @am_i_following
    = button_to t('.unfollow'), relationship_path(@am_i_following), :method => 'delete', :class => "btn btn-danger"
  - else
    = form_for @new_relationship, :url => relationships_path do |f|
      = f.hidden_field :follower_id
      = f.hidden_field :followed_id
      %button{:type => "submit", :class => "btn btn-primary"}
        = t('.follow')
