- if @user == current_user
  %a{:href => edit_user_registration_path(@user)}
    .btn.btn-primary
      = t(:edit)
- else
  - if @am_i_following
    = button_to t('.unfollow'), following_path(@am_i_following), :method => 'delete', :class => "btn btn-danger"
  - else
    = form_for @new_following, :url => followings_path do |f|
      = f.hidden_field :user_id
      = f.hidden_field :following_id
      %button{:type => "submit", :class => "btn btn-primary"}
        = t('.follow')
