- pictureInfo = PicturesController.helpers.getPictureData(user.main_picture, 'card', 'user')
- image_url = pictureInfo[0]
- width = pictureInfo[1]
- height = pictureInfo[2]
.card{:style => "background: url('#{image_url}') repeat; max-width: #{width}px; background-size: #{width}px #{height}px; background-color: #fff"}
  %a{:href => user_path(user)}
    .card-image-placeholder{:style => "width: #{width}px; height: #{height}px;"}
  .card-footer.card-footer-masonry
    .media
      .media-body.plm.ptm.pbm.prn
        = user.complete_name
        .sub-paragraph
          = user.location


