.span3
.span6
  - if @error
    .alert.alert-error
      %h4
        = t('.change_password_error_title')
      %br
      %span
        = t('.change_password_error_text')
  = form_for @user, :url => "/users/update_password", :html => { :method => :post, :class => 'form-horizontal' } do |f|
    .row-fluid
      .span12
        .card
          .card-header
            = t(".change_password")
          .card-content
            .control-group
              %label.control-label
                = t(".current_password")
              .controls
                = f.password_field :current_password, :class => "input-block-level"
          .card-content
            .control-group
              %label.control-label
                = t(".new_password")
              .controls
                = f.password_field :password, :class => "input-block-level"
          .card-content
            .control-group
              %label.control-label
                = t('.password_confirmation')
              .controls
                = f.password_field :password_confirmation, :class => "input-block-level"
          .row-fluid.card-footer
            .span2.offset8.footer-option.option-active
              .option-action
                %button#user_action_button{:type => "submit", :class => "btn btn-primary", :data => {'loading-text' => t('.saving')}}
                  = t('.save')
            .span2.footer-option
              .option-action
                %a{:href => edit_user_registration_path(@user), :class => "btn btn-inverse"}
                  = t('.back')
.span3