.span12
  .masonry_layout.centered
    - for user in @users
      .box
        .thumbnail
          .botones
            %p
              = link_to user_path(user), :class => "btn" do
                %i.icon-info-sign
                Más información
          = image_tag user.image.url(:small)
          .caption
            %h5
              = user.complete_name
            %p
              %i.icon-map-marker
              = user.location
            .extra-info
              %i.icon-thumbs-up
              = "#{user.created_events.count} Eventos"
              %i.icon-thumbs-up
              = "#{user.events.count} Apuntados"

