.row-fluid
  .span12.well
    .span2
      .thumbnail
        = image_tag(@user.image.url(:small), :class => 'block')
    .span8
      .row-fluid
        .span6
          = render 'user_action_button'
      .row-fluid
        .span12
          %h3
            = @user.complete_name
            - if @is_follower
              .label.label-info
                = t('.isfollower')
          %p
            %b
              = t(".location")
            = @user.location
          %p
            %b
              = t('.web')
            = @user.web
          %p
            %b
              = t('.bio')
            = @user.bio
  .row-fluid
    .span12
      %ul.nav.nav-pills{:id => "userpagetabs"}
        %li
          %a{:href => "#userevents", "data-toggle" => "pill"}
            - if @user == current_user
              = t('.your_events')
            - else
              = t('.user_events')
            .badge.badge-info
              = @user.created_events.count
        %li
          %a{:href => "#userappointments", "data-toggle" => "pill"}
            = t('.joined_events')
            .badge.badge-info
              = @user.events.count
        %li
          %a{:href => "#userfollowing", "data-toggle" => "pill"}
            = t('.following')
            .badge.badge-info
              = @user.friends.count
        %li
          %a{:href => "#userfollowers", "data-toggle" => "pill"}
            = t('.followers')
            .badge.badge-info
              = @user.followers.count
      .tab-content
        #error.alert.alert-error.hidden
        .tab-pane{:id => "userevents", :data => {:url => "/events" , :params => { :user_id => @user.id }.to_json } }
        .tab-pane{:id => "userappointments", :data => {:url => "/events" , :params => { :user_id => @user.id, :appointments => true }.to_json } }
        .tab-pane{:id => "userfollowing", :data => {:url => "/users" , :params => {:following_id => @user.id}.to_json} }
        .tab-pane{:id => "userfollowers", :data => {:url => "/users" , :params => {:follower_id => @user.id}.to_json } }




