.row-fluid.well
  .span3
    .thumbnail
      = image_tag(@user.image.url(:small), :class => 'block')
  .span8
    %h3
      = "@user.complete_name"
    %p
      %b Location:
      = "@user.location"
    %p
      %b Web:
      = "@user.web"
    %p
      %b Bio:
      = "@user.bio"
  .span1
    .btn.btn-primary
      = "Edit"
.row-fluid
  .span6
    .well
      %h4
        = "Tus eventos"
  .span6
    .well
      %h4
        = "Amigos"

