.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      .card
        .card-header
          = @user.complete_name
          - if @user.follower_of?(current_user)
            .label.label-inverse
              = t('.isfollower')

        = # oculto para moviles.
        .hidden-xs
          .row
            .col-sm-4.col-md-3
              .thumbnail.mbn
                = image_tag(@user.get_picture.photo.url(:medium), :class => 'block')
            .col-sm-8.col-md-9
              .card-content
                .media
                  .pull-left
                    .media-object
                      %i.fa.fa-map-marker.card-icon.mls
                  .media-body
                    = @user.location.blank? ? raw('&nbsp;') : @user.location
              .card-content
                .media
                  .pull-left
                    .media-object
                      %i.fa.fa-star.card-icon
                  .media-body
                    = @user.web.blank? ? raw('&nbsp;') : link_to(@user.web, url_with_protocol(@user.web), :target => '_blank')
              .card-content
                .media
                  .pull-left
                    .media-object
                      %i.fa.fa-heart.card-icon
                  .media-body
                    = @user.bio.blank? ? raw('&nbsp;') : @user.bio

          #userpagetabs.row.card-footer
            .col-xs-6.col-sm-2.footer-option.btn-round-bottom-left.pan
              %a{:href => "#userevents", "data-toggle" => "pill"}
                .option-header
                  = @user.created_events.count
                .option-content
                  - if @user == current_user
                    = t('.your_events')
                  - else
                    = t('.user_events')
            .col-xs-6.col-sm-2.footer-option.pan
              %a{:href => "#userappointments", "data-toggle" => "pill"}
                .option-header
                  = @user.events.count
                .option-content
                  = t('.joined_events')
            .col-xs-6.col-sm-2.footer-option.pan
              %a{:href => "#userfollowing", "data-toggle" => "pill"}
                .option-header
                  = @user.followees_count
                .option-content
                  = t('.following')
            .col-xs-6.col-sm-2.footer-option.pan
              %a{:href => "#userfollowers", "data-toggle" => "pill"}
                #followers_count_badge.option-header
                  = @user.followers_count
                .option-content
                  = t('.followers')
            #user_action_button.col-xs-12.col-sm-2.footer-option.option-active.pull-right.btn-round-bottom-right.pan
              - if @user == current_user
                %a.option-action.btn-round-bottom-right{:href => edit_user_registration_path(@user)}
                  = t('.edit')
              - else
                - if current_user.follower_of?(@user)
                  = render 'unfollow'
                - else
                  = render 'follow'

        = #
        = # version para moviles
        = #

        .visible-xs
          .row
            .col-xs-12
              .row
                .col-xs-3
                  .plm.pts
                    .thumbnail
                      = image_tag(@user.get_picture.photo.url(:medium), :class => 'block')
                .col-xs-9
                  .card-content.pan
                    .media
                      .pull-left
                        .media-object
                          %i.fa.fa-map-marker.card-icon.mls
                      .media-body
                        = @user.location.blank? ? raw('&nbsp;') : @user.location
                  .card-content.pan
                    .media
                      .pull-left
                        .media-object
                          %i.fa.fa-star.card-icon
                      .media-body
                        = @user.web.blank? ? raw('&nbsp;') : link_to(@user.web, url_with_protocol(@user.web), :target => '_blank')
              .row.content-separator
              .row
                .col-xs-12
                  .card-content.pan
                    .media
                      .pull-left
                        .media-object
                          %i.fa.fa-heart.card-icon
                      .media-body
                        = @user.bio.blank? ? raw('&nbsp;') : @user.bio

          #userpagetabs.row.card-footer
            #user_action_button.col-xs-12.footer-option.option-active
              - if @user == current_user
                %a.option-action.btn-round-bottom-right{:href => edit_user_registration_path(@user)}
                  = t('.edit')
              - else
                - if current_user.follower_of?(@user)
                  = render 'unfollow'
                - else
                  = render 'follow'
            .col-xs-6.footer-option.pan
              %a{:href => "#userevents", "data-toggle" => "pill"}
                .option-header
                  = @user.created_events.count
                .option-content
                  - if @user == current_user
                    = t('.your_events')
                  - else
                    = t('.user_events')
            .col-xs-6.footer-option.pan
              %a{:href => "#userappointments", "data-toggle" => "pill"}
                .option-header
                  = @user.events.count
                .option-content
                  = t('.joined_events')
            .col-xs-6.footer-option.btn-round-bottom-left.pan
              %a{:href => "#userfollowing", "data-toggle" => "pill"}
                .option-header
                  = @user.followees_count
                .option-content
                  = t('.following')
            .col-xs-6.footer-option.btn-round-bottom-right.pan
              %a{:href => "#userfollowers", "data-toggle" => "pill"}
                #followers_count_badge.option-header
                  = @user.followers_count
                .option-content
                  = t('.followers')

        = #
        = # fin version mvl
        = #

.row
  .tab-content
    #list_results
      .tab-pane{:id => "userevents", :data => {:url => events_path(:user_id => @user.id) } }
      .tab-pane{:id => "userappointments", :data => {:url => events_path(:user_id => @user.id, :appointments => true) } }
      .tab-pane{:id => "userfollowing", :data => {:url => following_user_path(@user.id) } }
      .tab-pane{:id => "userfollowers", :data => {:url => followers_user_path(@user.id)  } }

    .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      #list_error.alert.alert-danger.hidden
        %strong
          Error!
        #error_description
      #list_loading.alert.alert-info.hidden
        Cargando...
      #list_no_userevents.hidden
        .card.col-xs-4.col-md-offset-4
          %a{:href => "/events/search"}
            .card-image-placeholder{:style => "width: 100%; height: 200px;"}
              - if @user == current_user
                %a#events_new{:href => "#"}
                  %p
                    %i.fa.fa-plus
                  %p
                    = t('create')
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            %p
              - if @user == current_user
                = t('.current_user_no_events')
              - else
                = t('.user_no_events')
      #list_no_userappointments.hidden.row
        .card.col-xs-4.col-md-offset-4
          %a{:href => "/events/search"}
            .card-image-placeholder{:style => "width: 200px; height: 200px;"}
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            %p
              - if @user == current_user
                = t('.current_user_no_appoints')
                %br
                %a.btn.btn-primary{:href => "/events/search"}
                  = t('explore')
              - else
                = t('.user_no_appoints')

      #list_no_userfollowing.hidden.row
        .card.col-xs-4.col-md-offset-4
          %a{:href => "/events/search"}
            .card-image-placeholder{:style => "width: 200px; height: 200px;"}
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            %p
              - if @user == current_user
                = t('.current_user_no_followings')
              - else
                = t('.user_no_followings')

      #list_no_userfollowers.hidden
        .card.col-xs-4.col-md-offset-4
          %a{:href => "/events/search"}
            .card-image-placeholder{:style => "width: 200px; height: 200px;"}
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            %p
              - if @user == current_user
                = t('.current_user_no_followers')
              - else
                = t('.user_no_followers')


