%div{:class => 'span4 offset4'}
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %fieldset
      = content_tag :legend, t(:forgot_your_password)
      = f.email_field :email, :id => 'email', :placeholder => t(:email), :class => 'input-xlarge'
      %br
      = f.button t(:help_me), :class => 'btn btn-large btn-primary'
  = render "devise/shared/links"