= form_for(@user, :as => :user, :url => '/users/sign_in', :html => {:method => :post}) do |f|
  .card-header
    = t('.sign_in_welcome')
  .card-content
    .row.mbm
      .col-xs-12
        = f.email_field :email, :placeholder => t('.email'), :class => 'form-control'
    .row.mbs
      .col-xs-12
        = f.password_field :password, :placeholder => t('.password'), :class => 'form-control'
    .row.hidden-xs.hidden-sm.mbs
      .col-xs-12
        .pull-left
          = render 'remember_me', f: f
    .row.hidden-xs.hidden-sm.mbs
      .col-xs-12
        .pull-left
          %small
            = link_to t('.forgot_your_password'), new_password_path(:user)
    .row.visible-xs.visible-sm
      .col-xs-12
        .pull-left
          = render 'remember_me', f: f
    .row.visible-xs.visible-sm.mbm
      .col-xs-12
        = link_to t('.forgot_your_password'), new_password_path(:user)
    .row.visible-xs.visible-sm.mbm
      .col-xs-12
        = render 'sign_in_with'
    .row.hidden-xs.hidden-sm.mbm
      .col-xs-12
        .pull-left
          %small
            = render 'sign_in_with'
  .row.card-footer
    .col-xs-5.col-sm-offset-7.footer-option.option-active.pull-right.btn-round-bottom-right
      .option-action.btn-round-bottom-right
        %button#user_action_button{:type => "submit", :class => "btn btn-primary"}
          = t('.sign_in_button')