= form_for(@user, :as => :user, :url => '/users', :html => {:method => :post, :id => "welcome_sign_up_form"}) do |f|
  .card-header
    = t('.new_sign_up')
  .card-content
    .row.visible-xs.visible-sm.mbm
      .col-xs-12.centered
        = render 'sign_up_with'
    .row.hidden-xs.hidden-sm.mbm
      .col-xs-12.centered
        = render 'sign_up_with'
    = f.hidden_field :user_confirmation_required, :value => 'true'
    .row.mbm
      .col-xs-12
        = f.text_field :complete_name, :placeholder => t('.complete_name'), :class => 'form-control input-sm'
    .row.mbm
      .col-xs-12
        = f.email_field :email, :placeholder => t('.email'), :class => 'form-control input-sm'
    .row.mbm
      .col-xs-12
        = f.password_field :password, :placeholder => t('.password'), :class => 'form-control input-sm'
    .row.mbm
      .col-xs-12
        = f.password_field :password_confirmation, :placeholder => t('.password_confirmation'), :class => 'form-control input-sm'
  .row.card-footer
    .col-xs-5.col-sm-offset-7.footer-option.option-active.pull-right.btn-round-bottom-right
      .option-action
        %button#welcome_sign_up_button{:type => "submit", :class => "btn btn-primary", :data => {'loading-text' => t('.signing_up')}}
          = t('.sign_up_button')