.span7.hidden-phone.hidden-tablet
  .fb-login-button
    = render 'login-button'
  .fb-like-button
    = render 'like-button'
.span4.offset1.hidden-phone.hidden-tablet
  .row-fluid
    .span12
      .card
        = render 'sign_in_form'
  .row-fluid
    .span12
      .card
        = render 'sign_up_form'
.visible-phone.visible-tablet
  .row-fluid
    .span12
      .card
        = render 'sign_in_form'
  .row-fluid
    .span12
      .card
        = render 'sign_up_form'
.visible-phone.visible-tablet
  .row-fluid
    .card
      .card-content
        = render 'login-button-mobile'
  .row-fluid
    .card
      .card-content
        = render 'like-button-mobile'