.col-xs-7.hidden-xs.hidden-sm
  .fb-login-button
    = render 'login-button'
.col-xs-4.col-sm-offset-1.hidden-xs.hidden-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        .card-content
          = render 'login-button-mobile'