.col-xs-8.hidden-xs.hidden-sm
  .row
    .col-xs-12
      .jumbotron
        %h1
          Descubre y comparte miles de eventos
  .row
    .col-xs-8
      .fb-login-button
        = render 'login-button'
    .col-xs-4
      .pull-right
        %a{:href => "https://play.google.com/store/apps/details?id=com.ebentum.ebentumapp"}
          %img{:alt => "Get it on Google Play", :src => "/images/es_generic_rgb_wo_45.png"}
</a>
.col-xs-4.hidden-xs.hidden-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        .card-content
          = render 'login-button-mobile'