.col-xs-8.hidden-xs.hidden-sm
  .row
    .col-xs-12
      .jumbotron
        %h1
          Descubre y comparte miles de eventos
  .row
    .col-xs-12
      .fb-login-button
        = render 'login-button'
.col-xs-4.hidden-xs.hidden-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        = render 'sign_in_form'
  .row
    .col-xs-12
      .card
        = render 'sign_up_form'
.col-xs-12.visible-xs.visible-sm
  .row
    .col-xs-12
      .card
        .card-content
          = render 'login-button-mobile'