.modal.hide.fade{:id  => 'confirm_appoint'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
      = t('.confirm')
  .modal-body
    %p
      = t('.confirm_text')
    = render 'share'
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"}
      = t('.close')
    %a.btn.btn-primary{:href => "#", :id => 'confirm_appoint_btn', :data => {:eventid => @event.id}}
      = t('.confirm')