- pictureInfo = PicturesController.helpers.getPictureData(event.main_picture, 'card', 'event')
- image_url = pictureInfo[0]
- width = pictureInfo[1]
- height = pictureInfo[2]
.card{:style => "background: url('#{image_url}') repeat; max-width: #{width}px; background-size: #{width}px #{height}px; background-color: #fff"}
  %a{:href => event_path(event)}
    .card-image-placeholder{:style => "width: #{width}px; height: #{height}px;"}
  .card-footer.card-footer-masonry
    .media
      .pull-right
        .calendar-icon
          .calendar-month
            = event.start_date.strftime("%b")
          .calendar-day
            = event.start_date.strftime("%d")
      .media-body.plm.ptm.pbm.prn
        = event.name
        .sub-paragraph
          = event.place

