= form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :placeholder => "Name"
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :placeholder => "Name"
  .control-group
    %label.control-label{:for => "event_start_date"} Start date
    .controls
      %input{:type => "date", :id => "event_start_date", :name => "event[start_date]"}

  .control-group
    %label.control-label{:for => "event_start_time"} Start time
    .controls
      %input{:type => "time", :id => "event_start_time", :name => "event[start_time]"}

  .control-group
    = f.label :place, :class => 'control-label'
    .controls
      = f.text_field :place, :placeholder => "Name"
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :placeholder => "Name"
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.check_box :active, :placeholder => "Name"
  .control-group
    = f.label :photo, :class => 'control-label'
    .controls
      = f.text_field :photo, :placeholder => "Name"
