#event_main_picture_form
  = render 'pictures/main_picture_form', main_picture: @picture

= form_for @event, :html => { :multipart => true, :class => 'form-horizontal'   } do |f|
  %input#event_main_picture_input{:name => "event[main_picture_id]", :type => "hidden", :value => "#"}
  .card-content
    .pam
      = f.text_field :name, :placeholder => t(".name"), :class => "form-control input-sm mbs"

  .card-content
    .row.plm.prm.ptm.pbm
      .col-md-6
        = f.text_area :description, :placeholder => t(".description_optional"), :class => "form-control input-sm", :rows => 13
      .col-md-6
        .row.mtm
          .col-xs-2
            %label.control-label.col-sm-2
              %i.fa.fa-calendar
          .col-xs-10
            = f.hidden_field :start_date, :placeholder => t(".date"), :data => { "date-format" => t("date.formats.bootstrap_datepicker")}, :class => "form-control input-sm"
            #event_start_date_picker

        .row.mts
          .col-xs-2
            %label.control-label.col-sm-2
              %i.fa.fa-clock-o
          .col-xs-10
            %input#event_start_time_picker{:placeholder => t(".time"), :type => "text", :name => "start_time_picker", :class => "form-control input-sm"}

  .card-content
    .row.plm.prm.ptm.pbs
      .col-sm-1
        %label.control-label.col-sm-2
          %i.fa.fa-map-marker
      .col-sm-11
        %input#place_autocomplete{:placeholder => t(".place"), :type => "text", :name => "place_autocomplete", :class => "form-control input-sm", :value => @event.place}

    = f.hidden_field :place
    = f.hidden_field :lat
    = f.hidden_field :lng

  #map_canvas.mts

  .row.card-footer
    .col-xs-3.col-sm-offset-5.footer-option.option-active
      .option-action
        %input#create_event_btn.btn.btn-primary{:name => "btn_login", :type => "submit", :value => (action_name == "edit") ? t(".save") : t(".create") }
    .col-xs-3.footer-option
      .option-action
        %button.btn.btn-inverse{"aria-hidden" => "true", "data-dismiss" => "modal"}
          = t(".cancel")
