#event_main_picture_form
  = render 'pictures/main_picture_form', main_picture: @picture

= form_for @event, :html => { :multipart => true, :class => 'form-horizontal'   } do |f|
  %input#event_main_picture_input{:name => "event[main_picture_id]", :type => "hidden"}
  .card-content
    .pam
      = f.text_field :name, :placeholder => t(".name"), :class => "form-control input-sm mbs"
      = f.text_area :description, :placeholder => t(".description_optional"), :class => "form-control input-sm", :rows => 4
  .card-content
    .row.pam
      .col-xs-6
        .form-group.mbn
          %label.control-label.col-sm-2
            %i.icon-calendar
          .col-sm-10
            = f.text_field :start_date, :placeholder => t(".date"), :data => { "date-format" => t("date.formats.bootstrap_datepicker")}, :class => "form-control input-sm"
      .col-xs-6
        .form-group.mbn
          %label.control-label.col-sm-2
            %i.icon-time
          .col-sm-10
            = f.text_field :start_time, :placeholder => t(".time"), :class => "form-control input-sm"

  .card-content
    .row.pam
      .col-sm-1
        %label.control-label
          %i.icon-map-marker
      .col-sm-11
        %input#place_autocomplete{:placeholder => t(".place"), :type => "text", :name => "place_autocomplete", :class => "form-control input-sm"}
    = f.hidden_field :place
    = f.hidden_field :lat
    = f.hidden_field :lng

  #map_canvas.mts

