
.modal-body
  = form_for @event, :url => events_path, :html => { :multipart => true, :class => "form-horiztonal" } do |f|

    %a.thumbnail{:href => "#"}
      #imagePreview    


    %span.btn.btn-success.fileinput-button
      %i.icon-plus.icon-white
      %span Add image...
      = f.file_field :photo

    = f.text_field :name, :placeholder => "Name", :class => "input-block-level"
    = f.text_area :description, :required => true, :placeholder => "Description", :class => "input-block-level"
    .row-fluid
      .span6
        .input-prepend
          %span.add-on
            %i.icon-calendar
          = f.text_field :start_date, :placeholder => "Date", :class => 'date-picker'
          
      .span6
        .input-prepend
          %span.add-on
            %i.icon-time
          = f.text_field :start_time, :placeholder => "Time", :class => 'time-picker'
          

    .input-prepend
      %span.add-on
        %i.icon-map-marker
      = f.text_field :place, :placeholder => "Place"

    #map_canvas{:style => "width:513px; height:300px"}

    = f.hidden_field :lat
    = f.hidden_field :lng
    
.modal-footer
  %input#create_event_btn.btn.btn-primary{:name => "btn_login", :type => "submit", :value => "Create"}
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel