
.modal-body
  = form_for @event, :url => events_path, :html => { :multipart => true } do |f|
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg

    = f.text_field :name, :required => true, :placeholder => "Name", :class => "input-block-level"

    = f.text_area :description, :rows => 2, :required => true, :placeholder => "Description", :class => "input-block-level"

    .controls.controls-row
      = f.text_field :start_date, :placeholder => "Date", :class => 'date-picker span3'

      = f.text_field :start_time, :placeholder => "Time", :class => 'time-picker span2'
          
        
    = f.text_field :place, :placeholder => "Place"

    = f.file_field :photo
    .form-actions
      = f.submit "Save changes", :class => 'btn btn-primary'
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    
