
.modal-body
  = form_for @event, :url => events_path, :html => { :multipart => true } do |f|
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg

    %a.thumbnail{:href => "#"}
      #imagePreview
    


    %span.btn.btn-success.fileinput-button
      %i.icon-plus.icon-white
      %span Add image...
      = f.file_field :photo

    = f.text_field :name, :required => true, :placeholder => "Name", :class => "input-block-level"
    = f.text_area :description, :required => true, :placeholder => "Description", :class => "input-block-level"
    .row-fluid
      .span6
        .input-prepend
          %span.add-on
            %i.icon-calendar
          = f.text_field :start_date, :placeholder => "Date", :class => 'date-picker'
          
      .span6
        .input-prepend
          %span.add-on
            %i.icon-time
          = f.text_field :start_time, :placeholder => "Time", :class => 'time-picker'
          
    .row-fluid
      .span11
        .input-prepend
          %span.add-on
            %i.icon-map-marker
          = f.text_field :place, :placeholder => "Place", :class => "input-block-level"

    = f.hidden_field :lat
    = f.hidden_field :lng
    
    
.modal-footer
  %input#create_event_btn.btn.btn-primary{:name => "btn_login", :type => "submit", :value => "Create"}
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel