- if @page == 1 && !request.xhr?
  .container
    .col-xs-12
      %form.event_search_form#event_search_form
        .card
          .card-content
            .row
              .col-xs-12.col-md-3.mbs.mts
                #filter_type.btn-group
                  = button_tag t('.distance'), id: "by_distance", class: "btn btn-primary active", type: "button"
                  = button_tag t('.name'), id: "by_name", class: "btn btn-primary", type: "button"
              .col-xs-12.col-md-4.mbs.mts
                - distanceOptions  = [t('.close_to_me'), 2], [t('.to_20_km'), 20], [t('.to_50_km'), 50], [t('.i_dont_care'), 0]
                = select_tag 'distance', options_for_select(distanceOptions, @distanceSelected), {:class => "form-control"}
                = text_field_tag :text, @text, class: 'form-control hidden disabled', placeholder: t('.name')
              .col-xs-12.col-md-3.mbs.mts
                - daysOptions  = [t('.soon'), 2], [t('.one_week'), 7], [t('.one_month'), 30], [t('.i_dont_care'), 99999]
                = select_tag 'days', options_for_select(daysOptions, @daysSelected), {:class => "form-control"}
              .col-xs-12.col-md-2.mbs.mts
                = submit_tag t('.search'), class: 'btn btn-primary btn-block', id: 'search_button'


  .col-xs-12
    #events_list.masonry_layout.centered
      = render 'no_results'
      = render 'list'
- else
  = render 'no_results'
  = render 'list'
