.span12
  .row-fluid
    .span1
    .span4
      .thumbnail
        = image_tag(@event.photo.url(:medium), :class => 'block')
    .span1
    .span5
      .hero-unit
        %h1
          = @event.name
        %p
          = @event.description
        %p
          %i.icon-calendar
          = l(@event.start_date, :format => :long)+', '+l(@event.start_time, :format => :short)
        %p
          %i.icon-map-marker
          = @event.place
        #map.block
        %br
        %p
          %i.icon-user
          = t('.organized_by')
          %a{:href => user_path(@event.user)}
            = @event.user.complete_name
        %p#appointed
          %i.icon-thumbs-up
          = t('.joined')
          %span.badge.badge-info
            = @appointed
          = t('.event_followings_followers_appointed', :following => @appointed, :followers => @appointed)
        %p
          = button_tag '¡Unirme!', :type => 'button', :class => 'btn btn-large btn-primary hide', :id => 'appoint', :data => {'loading-text' => 'Uniendome...', :eventid => @event.id}
          = button_tag '¡Desapuntame!', :type => 'button', :class => 'btn btn-large btn-danger hide', :id => 'desappoint', :data => {'loading-text' => 'Desapuntandome...', :eventid => @event.id, :appointmentid => 0}
    .span1