.col-xs-12
  .row
    .col-xs-12.col-md-4
      .card-square
        = image_tag(@event.get_picture.photo.url(:medium), :class => 'block')

    .col-xs-12.col-md-8
      .row
        .col-xs-12
          .card
            .card-header
              %h1
                = @event.name
            .card-content
              .row
                .col-xs-12
                  #event_description
                    = @event.description

            #event-info-row.card-content
              .row
                .col-xs-12.col-md-6.pts.pll
                  .card-content
                    .row
                      .col-xs-2
                        .media-object
                          %i.fa.fa-user
                      .col-xs-10
                        - user = User.find(@event.creator)
                        = t('.organized_by')
                        %a{:href => user_path(user)}
                          = user.complete_name
                  .card-content
                    .row
                      .col-xs-2
                        .media-object
                          %i.fa.fa-calendar
                      .col-xs-10
                        = l(@event.start_date, :format => :long)

                  .card-content
                    .row
                      .col-xs-2
                        .media-object
                          %i.fa.fa-map-marker
                      .col-xs-10
                        = @event.place

                .col-xs-12.col-md-6.man
                  #map.block

            .row.card-footer
              -if @event.creator == current_user
                .col-xs-12.col-md-2.footer-option.option-active.btn-round-bottom-left
                  .option-action
                    = button_tag t('.edit'), :type => 'button', :class => 'btn btn-primary', :id => 'events_edit'
              - else
                .col-xs-12.col-md-2.footer-option

              .col-xs-12.col-md-2.footer-option
                %a#appointed{:href => "#"}
                  .option-header
                    = @event_users
                  .option-content
                    = t('.joined')
              = render 'share_event'

              - if user_signed_in?
                #user-action.col-xs-12.col-md-2.footer-option.pull-right.btn-round-bottom-right
                  .option-action
                    = hidden_field_tag 'event_id', @event.id
                    = button_tag t('.join'), :href => '#confirm_appoint', :type => 'button', :class => 'btn btn-success hide', :id => 'appoint', :data => {:toggle => 'modal', :target => '#confirm_appoint', 'loading-text' => t('.joining')}
                    = button_tag t('.leave'), :href => '#confirm_desappoint', :type => 'button', :class => 'btn btn-danger hide', :id => 'desappoint', :data => {:toggle => 'modal', :target => '#confirm_desappoint', 'loading-text' => t('.leaving')}
      .row
        .col-xs-12
          = render 'comments'

= render 'confirm_appoint'
= render 'confirm_desappoint'

