.span12
  .row-fluid
    .span1
    .span4
      .thumbnail
        = image_tag(@event.photo.url(:medium), :class => 'block')
    .span1
    .span5
      .hero-unit
        %h1
          = @event.name
        %p
          = @event.description
        %p
          %i.icon-calendar
          = l(@event.start_date, :format => :long)+', '+l(@event.start_time, :format => :short)
        %p
          %i.icon-map-marker
          = @event.place
        #map.block
        %br
        %p
          %i.icon-user
          = t('.organized_by')
          %a{:href => user_path(@event.user)}
            = @event.user.complete_name
        %p#appointed
          %i.icon-thumbs-up
          = t('.appointed')
          %span.badge.badge-info
            = @appointed
          = t('.event_followings_followers_appointed', :following => @appointed, :followers => @appointed)
        %p
          .fb-like{"data-send" => "false", "data-href" => "http://www.ebentum.com", "data-show-faces" => "false", "data-width" => "450"}
          / .fb-like{"data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
          = button_tag t('.appoint'), :href => '#confirm_appoint', :type => 'button', :class => 'btn btn-large btn-primary hide', :id => 'appoint', :data => {:toggle => 'modal', :target => '#confirm_appoint', 'loading-text' => 'Apuntandome...'}
          = button_tag '¡Desapuntame!', :href => '#confirm_desappoint', :type => 'button', :class => 'btn btn-large btn-danger hide', :id => 'desappoint', :data => {:toggle => 'modal', :target => '#confirm_desappoint', 'loading-text' => 'Desapuntandome...'}
    .span1
= render 'confirm_appoint'
= render 'confirm_desappoint'
= render 'comments'