.card
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:method => :post, :id => 'sign_in', :class => 'sign_in'}) do |f|
    - if @native_app == true
      %input{:type => "hidden", :name => "native_app", :value => "true"}
    .card-header
      = t('.sign_in')
    .card-content
      .row
        .col-xs-12{:id => 'omniauth_options'}
          %label
            = t('.sign_in_with')
          .row
            .col-xs-6
              %a.btn.btn-facebook.btn-block.btn-large.pull-left{:href => '/users/facebook_login'}
                %i.fa.fa-facebook
                facebook
            .col-xs-6
              %a.btn.btn-info.btn-block.btn-large.pull-right{:href => '/users/twitter_login'}
                %i.fa.fa-twitter
                twitter
      - klass = ''
      - if flash[:alert]
        - klass = 'has-error'
    .card-content
      .row
        .col-xs-12
          .form-group{:class => klass}
            .controls
              = f.email_field :email, :id => 'email', :placeholder => t('.email'), :class => 'form-control'
      .row
        .col-xs-12
          .form-group{:class => klass}
            .controls
              = f.password_field :password, :id => 'password', :placeholder => t('.password'), :class => 'form-control'
      .row
        .col-xs-12
          .pull-left
            = f.label :remember_me, :class => 'checkbox' do
              = f.check_box :remember_me, {style: 'width: 0px;', "data-toggle" => "checkbox", :checked => true}, "1", "0"
              = t('.remember_me')
    .row.card-footer
      .col-xs-5.footer-option.option-active.pull-right.btn-round-bottom-right
        .option-action.btn-round-bottom-right
          %button.user_action_button{:type => "submit", :class => "btn btn-primary"}
            = t('.sign_in_button')
%br