%div{:class => 'span5 offset4'}
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:method => :post, :id => 'sign_in', :class => 'sign_in'}) do |f|
    %fieldset
      = content_tag :legend, t(:sign_in)
      .alert.alert-error.hide{:id => 'sign_in_error'}
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4
          = t(:sign_in_error_title)
        %span{:id => 'sign_in_error_text'}
      .control-group
        .controls
          = f.email_field :email, :id => 'email', :placeholder => t(:email), :class => 'input-xlarge'
          %span.help-inline
      .control-group
        .controls
          = f.password_field :password, :id => 'password', :placeholder => t(:password), :class => 'input-xlarge'
      = f.label :remember_me, :class => 'checkbox' do
        = f.check_box :remember_me
        = t(:remember_me)
      %br
      = f.button t(:sign_in_button), :type => 'button', :class => 'btn btn-large btn-primary', :id => 'sign_in_button', :data => {'loading-text' => t(:signing_in)}
  = render "devise/shared/links"