%div{:class => 'span4 offset4'}
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    %fieldset
      = content_tag :legend, t(:sign_in)
      = f.email_field :email, :id => 'email', :placeholder => t(:email), :class => 'input-xlarge'
      = f.password_field :password, :id => 'password', :placeholder => t(:password), :class => 'input-xlarge'
      = f.label :remember_me, :class => 'checkbox' do
        = f.check_box :remember_me
        = t(:remember_me)
      %br
      = f.button t(:sign_in_button), :class => 'btn btn-large btn-primary'
  = render "devise/shared/links"