.span3.visible-desktop
.span6.visible-desktop
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"
.span3.visible-desktop
.visible-phone.visible-tablet
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"