.col-xs-3.visible-md.visible-lg
.col-xs-6.visible-md.visible-lg
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"
.col-xs-3.visible-md.visible-lg
.visible-xs.visible-sm.tablet-nonavbar
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"