.col-xs-3.visible-desktop
.col-xs-6.visible-desktop
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"
.col-xs-3.visible-desktop
.visible-xs.visible-sm.tablet-nonavbar
  = render 'sign-in-error'
  = render 'sign-in-form'
  = render "devise/shared/links"