.span4
.span4
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:method => :post, :id => 'sign_in', :class => 'sign_in'}) do |f|
    %fieldset
      = content_tag :legend, t(:sign_in)
      .alert.alert-error.hide{:id => 'sign_in_error'}
        %h4
          = t(:sign_in_error_title)
        %span{:id => 'sign_in_error_text'}
      .row-fluid
        .span12{:id => 'omniauth_options'}
          .control-group
            .controls
              %label 
                = t(:sign_in_with)
              %br
              %a.btn.btn-primary.btn-large.pull-left{:href => 'https://www.facebook.com/dialog/oauth?client_id=469588653104372&redirect_uri=http://localhost:3000/users/auth/facebook/callback&scope=email,publish_actions,user_location,user_website, user_about_me&response_type=token'}
                %i.icon-facebook
                facebook
              %a.btn.btn-info.btn-large.pull-right{:href => '/users/twitter_login'}
                %i.icon-twitter
                twitter
      %br
      .control-group
        .controls
          = f.email_field :email, :id => 'email', :placeholder => t(:email), :class => 'input-xlarge'
      .control-group
        .controls
          = f.password_field :password, :id => 'password', :placeholder => t(:password), :class => 'input-xlarge'
      = f.label :remember_me, :class => 'checkbox' do
        = f.check_box :remember_me
        = t(:remember_me)
      %br
      = f.button t(:sign_in_button), :type => 'button', :class => 'btn btn-large btn-primary', :id => 'sign_in_button', :data => {'loading-text' => t(:signing_in)}
  = render "devise/shared/links"
.span4