%p
  = t('.hello', :email => @resource.email)
%p
  = t('.reset_password_text')
%p
  = link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  = t('.reset_password_not_request')
%p
  = t('.password_wont_change_until_access_link')