- width = activity.subject.photoWidth || 230
- height = activity.subject.photoHeight || 230
- if width > 230
  -# redondear el ancho a la columna
  - newWidth = (width / 230.0).round(0)
  -# Maximo tres columnas
  - if newWidth > 3
    - newWidth = 3
  - ratio = width / height
  - width = (newWidth * 230 ) + ((newWidth-1) * 10)
  - height = width / ratio

- image_url = activity.subject.photoUrl
.card{:style => "background: url('#{image_url}') repeat; max-width: #{width}px; background-size: #{width}px #{height}px;"}
  %a{:href => activity.subject.url}
    .card-image-placeholder{:style => "width: #{width}px; height: #{height}px;"}
  .card-footer.card-footer-masonry.pts.pbs.plm.prm
    .media
      .pull-left
        %a{:href => activity.actor.url}
          = image_tag(activity.actor.photoUrl , :class => 'block media-object thumb_image')
      .media.body
        %div
          = activity.actor.displayName
        .sub-paragraph
          = activity.verb + " " + activity.subject.displayName
        .sub-paragraph
          .format-timeago{:data => {:datevalue => activity.created_at }}