- if @last_activity_date.nil?
  .col-xs-12
    #activity_list.masonry_layout.centered.invisible
      - if @activities.count == 0
        - cardStyles = PicturesController.helpers.getCardStyles(browser.mobile?, "", 230, 300)
        - card_style = cardStyles[:card_style]
        - card_class = cardStyles[:card_class]
        - image_style = cardStyles[:image_style]
        .card{:style => card_style, :class => card_class}
          .card-image-placeholder{:style => "width: 100%; height: 200px;"}
            %a{:href => "/events/event_search"}
              %i.fa.fa-compass.card-icon-big
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            .media
              .media.body.center-text
                = t('.no_activities1')
              .media.body.center-text
                = t('.no_activities2')
      - else
        = render 'list'
- else
  = render 'list'

- if @show_fb_friends && @fb_friends.size > 0
  .modal.fade{:id  => 'show_fb_friends'}
    .modal-dialog.card
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          = t('.add_fb_friends')
        .modal-body
          %ul.media-list.comment-list
            - for fb_friend in @fb_friends
              - if !current_user.follower_of?(fb_friend)
                %li.media.card-content
                  %a.pull-left{:href => user_path(fb_friend)}
                    = image_tag(fb_friend.get_picture.photo.url(:thumb), :class => 'block media-object thumb_image')
                  .media-body
                    %a{:href => user_path(fb_friend)}
                      = fb_friend.complete_name
                    .pull-right
                      = render 'activities/add_to_friends', {:user_id => nil, :user => fb_friend}
        .card-footer
          %a.btn.btn-primary.btn-round-bottom-right{:href => "#", "data-dismiss" => "modal"}
            = t('.done')
