%fb:login-button{"max-rows" => "1", "show-faces" => "true", :width => "200"}
.span12
  .masonry_layout.centered
    - for activity in @activities
      .box
        .thumbnail
          .botones
            %p
              %a.btn{:href => "#"}
                %i.icon-thumbs-up.icon-white
                ¡Unirme!
            %p
              %a{:href => activity.subject.url, :class => "btn"}
                %i.icon-info-sign
                Más información

          = image_tag activity.subject.photoUrl
          .caption
            %h5
              = activity.subject.displayName
            %p
              %a{:href => activity.actor.url}
                %i.icon-user
                = activity.actor.displayName
            %p
              %i.icon-calendar
              = l(activity.subject.startDate, :format => :long)+', '+l(activity.subject.startTime, :format => :short)
            %p
              %i.icon-map-marker
              = activity.subject.address