<form {{action save on="submit"}} class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label for="user_email" class="control-label">Email</label>
      <div class="controls">
        {{view Em.TextField valueBinding="email" id="user_email" class="input-xlarge"}}
      </div>
    </div>

    <div class="control-group">
      <label for="user_password" class="control-label">Password</label>
      <div class="controls">
        {{view Em.TextField valueBinding="password" id="user_password" class="input-xlarge"}}
      </div>
    </div>

    <div class="control-group">
      <label for="user_password_confirmation" class="control-label">Password confirmation</label>
      <div class="controls">
        {{view Em.TextField valueBinding="password_confirmation" id="user_password_confirmation" class="input-xlarge"}}
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a {{action cancel}} class="btn">Cancel</a>
    </div>
  </fieldset>
</form>