<form {{action save on="submit"}} class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label for="event_name" class="control-label">Name</label>
      <div class="controls">
        {{view Em.TextField valueBinding="name" id="event_name" class="input-xlarge"}}
      </div>
    </div>

    <div class="control-group">
      <label for="event_description" class="control-label">Description</label>
      <div class="controls">
        {{view Em.TextField valueBinding="description" id="description" class="input-xlarge"}}
      </div>
    </div>

    <div class="control-group">
      <label for="event_photo" class="control-label">Photo</label>
      <div class="controls">
        {{view Em.TextField valueBinding="photo" id="event_photo" class="input-xlarge"}}
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a {{action cancel}} class="btn">Cancel</a>
    </div>
  </fieldset>
</form>