%head
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
  - meta_description = meta_description(@meta_description)
  - meta_keywords = meta_keywords(@meta_keywords)
  %meta{:content => meta_description, :name => "description"}
  %meta{:content => meta_keywords, :name => "keywords"}
  = render 'layouts/open_graph_metas'
  = csrf_meta_tags
  %title
    = head_title(@head_title)
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = favicon_link_tag 'favicon.ico'