.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} ebentum
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => root_url} Inicio
          %li
            %a{:href => "#about"} Amigos
          %li
            %a{:href => "#contact"} Explorar
        - if user_signed_in?
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.complete_name
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li
                  %a{:href => homepage_url, :tabindex => '-1'}
                    %i.icon-user
                    = t(:profile)
                %li
                  %a{:href => '#', :tabindex => '-1'}
                    %i.icon-cog
                    = t(:configuration)
                %li.divider
                %li
                  %a{:href => destroy_user_session_path, :tabindex => '-1', :data => {:method => :delete}}
                    %i.icon-off
                    = t(:logout)
        - else
          %ul.nav.pull-right
            %li
              = link_to t(:sign_up), new_user_registration_path
            %li
              = link_to t(:sign_in), new_user_session_path
        %form.navbar-search.pull-left{:action => ""}
          %input.search-query.span2{:placeholder => "Buscar", :type => "text"}
  .nav-collapse
    .navbar-inner
      %ul.nav
        %li.active
          %a{:href => "#"}
            %i.icon-home
            Interesantes
        %li
          %a{:href => "#"}
            %i.icon-pencil
            Tuyos
        %li
          %a{:href => "#"}
            %i.icon-user
            De tus amigos
        %li
          %a{:href => "#"}
            %i.icon-cog
            De tu zona
        %li
          = link_to "#", :id => 'events_new' do
            %i.icon-cog
            Nuevo