.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_url} ebentum
      .nav-collapse
        %ul.nav
          %li{ :class => (action_name == "index") ? "active" : nil }
            %a{:href => root_url} Actividad
          %li{ :class => (action_name == "popular") ? "active" : nil }
            %a{:href => '#'} Popular
          %li
            %a{:href => "#"} Última hora
        %form.navbar-search.pull-left{:action => ""}
          %input.search-query.span2{:placeholder => "Buscar", :type => "text"}
        - if user_signed_in?
          %ul.nav.pull-right
            %li
              %a#events_new{:href => "#"}
                %i.icon-plus 
                Crear
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-user
                = current_user.complete_name
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li
                  %a{:href => user_path(current_user), :tabindex => '-1'}
                    %i.icon-user
                    = t(:profile)
                %li
                  %a{:href => '#', :tabindex => '-1'}
                    %i.icon-cog
                    = t(:configuration)
                %li.divider
                %li
                  %a{:href => destroy_user_session_path, :tabindex => '-1', :data => {:method => :delete}}
                    %i.icon-off
                    = t(:logout)
        - else
          %ul.nav.pull-right
            %li
              = link_to t(:sign_up), new_user_registration_path
            %li
              = link_to t(:sign_in), new_user_session_path
