.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => "#nav-collapse-01", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-logo.pull-left
        %a{:href => root_url}
          = image_tag('/logo/ebentum_38.png')
      %a{:href => root_url}
        .brand
          ebentum
      #nav-collapse-01.nav-collapse.collapse
        %ul.nav
          %li{ :class => (controller_name == "activities" and action_name == "index") ? "active" : nil }
            %a{:href => root_url}
              = t('.activity')
          %li{ :class => (controller_name == "events" and action_name == "search") ? "active" : nil }
            %a{:href => "/events/search"}
              = t('.explore')
        - if user_signed_in?
          %ul.nav.pull-right
            %li
              %a#events_new{:href => "#"}
                %i.icon-plus
                Crear
            %li
              %a
                %i.icon-user
                = current_user.complete_name
              %ul
                %li
                  %a{:href => user_path(current_user), :tabindex => '-1'}
                    %i.icon-user
                    = t('.profile')
                %li
                  %a{:href => edit_user_registration_path(current_user), :tabindex => '-1'}
                    %i.icon-cog
                    = t('.configuration')
                %li
                  %a{:href => destroy_user_session_path, :tabindex => '-1', :data => {:method => :delete}}
                    %i.icon-off
                      = t('.logout')
        - else
          %ul.nav.pull-right
            %li
              = link_to t('.sign_up'), new_user_registration_path
            %li
              = link_to t('.sign_in'), new_user_session_path