!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %title ebentum
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4
          = flash[:notice]
        %span
          = flash[:notice]
    .container-fluid
      .row-fluid
        = yield
      %hr
        = render 'layouts/footer'
    #modal_windows
    = javascript_include_tag "application_post"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
    