<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bagoaz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container-fluid">
  	<div class="row-fluid">
      <div id="myContent" class="span12 centered">
  	    <%= yield %>
	  </div>
	</div>
    <hr>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "application_post" %>
</body>
</html>
