!!!
%html{"xmlns:fb" => "http://ogp.me/ns/fb#", :manifest=>"offline.appcache"}
  = render 'layouts/head'
  %body{:class => get_body_class}
    = render 'layouts/fb_js_sdk'
    = render 'layouts/tw_js_sdk'
    = render 'layouts/navbar'
    .container
      .row
        = yield
    #modal_windows
    = javascript_include_tag "application_post"
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = render 'layouts/maps_api'
